/*html,body {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    background-image: linear-gradient(*/
/*            135deg,*/
/*            #1f2441 0%,*/
/*            #925FFF 100%*/
/*    );*/
/*    background-repeat: no-repeat;*/
/*    background-position: center center;*/
/*    background-attachment: fixed;*/
/*}*/

body,html  {
    background-image: url("/media/auth/lb.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed
}
.invalid-feedback {
    font-size: 0.925rem;
    color: #FFF !important;
}

.form-control-login {
    border: 2px solid rgba(255, 255, 255, 0.68) !important;
    color: #FFF !important;

}
.text-color-danger{
    color:   #f46d90;;
}
.card-new{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(24, 28, 50, 0.74);
    background-clip: border-box;
    border-radius: 0.85rem;
}

.invalid-feedback-new{
    font-size: 1rem;
    color: #f8f0f3;
}

.btn.btn-new {
    color: rgba(60, 62, 72, 0.9);
    border-color: #F5F8FA;
    background-color: #C5C6CB80;}