body{
    background-image: url("/media/auth/lb.jpg") !important;
    background-repeat: repeat !important;
}
.form-control {
    border: 2px solid #11B3B3 !important;
}
.text-color-danger{
    color:   #f46d90;;
}