<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" direction="rtl" dir="rtl">

<head>
	<title> ثبت نام </title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/custom/custom.css}"/>
	<link rel="shortcut icon" th:href="@{/media/logos/logo-light.svg}"/>
	<link th:href="@{/css/plugins.bundle.rtl.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/css/style.bundle.rtl.css}" rel="stylesheet" type="text/css"/>

</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="app-blank bgi-size-cover bgi-position-center  bgi-no-repeat">
<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
	<!--begin::احراز هویت - ثبت نام -->
	<!--begin::Content-->
	<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
		<!--begin::Wrapper-->
		<div class="w-lg-500px card rounded shadow-sm p-10 p-lg-15 mx-auto">
			<!--begin::Form-->
			<form class="form w-100" novalidate="novalidate" id="kt_sign_up_form" method="post" role="form"
			      th:action="@{/register}" th:object="${user}">

				<div class="mb-10 text-center">
					<!--begin::Title-->
					<h1 class="text-light-dark fw-bolder mb-3">ثبت نام</h1>

					<div th:if="${param.success}">
						<div class="alert alert-success">ثبت نام با موفقیت انجام شد</div>
					</div>
					<div th:if="${param.error}">
						<div class="alert alert-danger">خطا در ثبت نام</div>
					</div>

					<!--end::Title-->
				</div>
				<!--end::Heading-->
				<!--begin::Separator-->
				<div class="d-flex align-items-center mb-10">
					<div class="border-bottom border-gray-300 mw-50 w-100"></div>
					<div class="border-bottom border-gray-300 mw-50 w-100"></div>
				</div>
				<!--end::Separator-->
				<!--begin::Input group-->
				<div class="row fv-row mb-7" id="kt_sign_in_form">
					<div class="col-xl-6">
						<input class="form-control bg-transparent" type="text" placeholder="نام"
						       name="name" autocomplete="off" th:field="*{name}"/>
					</div>
					<!--end::Col-->
					<!--begin::Col-->
					<div class="col-xl-6">
						<input class="form-control bg-transparent" type="text" placeholder="نام کاربری"
						       name="username" autocomplete="off" th:field="*{username}"/>
						<span>
							<p th:errors="*{username}" class="text-color-danger "
							   th:if="${#fields.hasErrors('username')}">
							</p>
						</span>
					</div>

					<!--end::Col-->
				</div>
				<!--end::Input group-->
				<!--begin::Input group-->
				<div class="mb-10 fv-row" data-kt-password-meter="true">
					<!--begin::Wrapper-->
					<div class="mb-1">
						<!--begin::Input wrapper-->
						<div class="position-relative mb-3">
							<input class="form-control bg-transparent" type="password"
							       placeholder="کلمه عبور" name="password" th:field="*{password}" autocomplete="off"/>
							<span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
							      data-kt-password-meter-control="visibility">
											<i class="bi bi-eye-slash fs-2"></i>
											<i class="bi bi-eye fs-2 d-none"></i>
										</span>

						</div>
						<p th:errors="*{password}" class="text-color-danger"
						   th:if="${#fields.hasErrors('password')}">
							<!--end::Input wrapper-->
							<!--begin::Meter-->
						<div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
							<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
							<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
							<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
							<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
						</div>
						<!--end::Meter-->
					</div>
					<!--end::Wrapper-->
					<!--begin::Hint-->
					<div class="text-muted">از 8 حرف یا بیشتر با ترکیبی از حروف ، اعداد و نمادها استفاده کنید.</div>
					<!--end::Hint-->
				</div>
				<!--end::Input group=-->
				<!--begin::Actions-->
				<div class="text-center">
					<button class="btn btn-primary" type="submit" onclick="this.innerText='... لطفا صبر کنید'">ثبت نام
					</button>
				</div>
				<!--end::Actions-->
			</form>
			<!--end::Form-->
		</div>
		<!--end::Wrapper-->
	</div>
	<!--end::Content-->

	<!--end::احراز هویت - ثبت نام-->
</div>
<!--end::Root-->
<!--end::Main-->
<!--begin::Javascript-->
<!--begin::Global Javascript Bundle(used by all pages)-->
<script th:src="@{/plugins/global/plugins.bundle.js}"></script>
<script th:src="@{/js/scripts.bundle.js}"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Page سفارشی Javascript(used by this page)-->
<script th:src="@{/js/custom/authentication/sign-in/general.js}"></script>
<!--end::Page custom Javascript-->
<!--end::Javascript-->
</body>


<!--			<div class="card-header">-->
<!--				<h2 class="text-center">Registration</h2>-->
<!--			</div>-->
<!--			<div class="card-body">-->
<!--				<form method="post" role="form" th:action="@{/register/save}" th:object="${user}">-->


<!--					<div class="form-group mb-3">-->
<!--						<button class="btn btn-primary" type="submit">Register</button>-->
<!--						<span>Already registered? <a href="/" th:href="@{/login}">Login-->
<!--                             here</a></span>-->
<!--					</div>-->
<!--				</form>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--</body>-->

<!--end::Body-->
</html>